<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}

    <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}:</label>

        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br>
        <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="100">
        {% endif %}

        <input 
        type="{{ campo.field.widget.input_type }}"
        class="form-control" 
        name="{{ campo.name }}" 
        id="" 
        placeholder="{{ campo.label}}"
        aria-describedby="helpId"
        value="{{ campo.value | default:'' }}" 
        />
    </div>
    <div class="col-12 help-text">
        {{ campo.errors }}
    </div>
    {% endfor %}

    <div class="form-group">

        <input type="submit" value="Enviar" class="btn btn-success">
        <a
        name=""
        id=""
        class="btn btn-primary"
        href="{% url 'libros' %}"
        role="button"
        >Cancelar
        </a>
    
    </div>

</form>